*
  font-family: Montserrat

header
  display: flex
  justify-content: space-between


ul
  display: flex
  flex-direction: row
  justify-content: center
  align-content: center
  gap: 57px

.liHeader
    font-size: 24px
    list-style-type: none

.navLink
  text-decoration: none
    


  