@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap')
  
*
  max-width: 1440px
  font-family: Montserrat
  color: black

  
// header

header
  display: flex
  justify-content: space-between
  width: 1240px
  height: 68px
  margin-top: 45px
  padding-right: 50px
  padding-left: 50px


ul
  display: flex
  flex-direction: row
  justify-content: center
  align-content: center
  gap: 57px

.liHeader
    font-size: 24px
    list-style-type: none

.navLink
  text-decoration: none


// footer

.footer
  background-color: black
  width: 1440px
  height: 209px
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  gap: 20px
  
.imgFooter
  padding-top: 66px

.pFooter
  color: white
  font-size: 24px
  font-weight: 500
  padding-bottom: 29px



// banner

.bannerBack
  width: 1240px
  height: 223px
  flex-shrink: 0
  border-radius: 25px
  opacity: 06
  background-image: url("./assets/cliff.png")
  background-position: center 
  background-repeat: no-repeat
  background-size: cover
  // filter: brightness(50%)
  box-shadow:  0px 4px 4px #F6F6F6

.textBanner
  color: white
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
  // -webkit-text-stroke: 1px #000000
  // -webkit-text-stroke-color: #000
  font-size: 48px
  font-weight: 700
  line-height: 142.6%
  text-align: center
  padding-top: 70px
  // text-shadow: 0px 4px 4px #00000040
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black


// card

.backCard
  background-color: #F6F6F6
  border-radius: 25px
  width: 1240px
  height: 829px

.card
  width: 340px
  height: 340px
  border-radius: 10px
  // background-color: #ff5f5f
  // background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(10, 10, 10, 0.00) 42%, rgba(4, 4, 4, 0.20) 99.99%, rgba(0, 0, 0, 0.50) 100%)
  background-position: center 
  background-repeat: no-repeat
  background-size: cover
  display: flex

.linkCard
  text-decoration: none
 

 
 






    


  